backports.functools-lru-cache==1.5
boto3==1.7.4
botocore==1.10.4
cycler==0.10.0
dicttoxml==1.7.4
docutils==0.14
futures==3.2.0
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.22.0
opencv-python==3.4.0.12
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.4
s3transfer==0.1.13
six==1.11.0
subprocess32==3.2.7
xmltodict==0.11.0
